//BREAKPOINTS
$tablet-screen: 475px;
$desktop-screen: 1024px;

//COLORS
$primary-color: #1c1a1a;
$secondary-color: #cf0000;
$tertiary-color: #dc3545;
$quaternary-color: #3b0723;
$text-color: rgb(255, 240, 240);
$text-color-faded: rgba(255, 240, 240, 0.6);

//FONTS
$headings-font: "Dancing Script", cursive;
